/*CSS for the navigation bar*/

/*Theme button*/
.theme_changer {
	position:fixed;
	display:block;
	top:20%;
	right:0;
	overflow:hidden;
	z-index:90;
}

.theme_btn {
	width:50px;
	height:50px;
	border:none;
	border-radius: 20px 0px 0px 20px;
	cursor:pointer;
	transition:0.3s;
}
.theme_btn:focus {
	outline:none;
}
#theme_moon {
	position:relative;
	animation: transform_moon 0.5s;
	top:0px; 
	left:0px;
	transform:rotateY(0deg);
}

@keyframes transform_moon {
	from {
		top:-80px; 
		left:-100px;
		transform: rotateY(-1800deg);
	}
	to {top:0px; left:0px; transform: rotateY(0deg);}
}

#theme_sun {
	position:relative;
	animation: transform_sun 0.5s;
	top:0px; 
	left:0px;
	transform:rotateY(0deg);
}

@keyframes transform_sun {
	from {
		top:-80px; 
		left:100px;
		transform: rotateY(-1800deg);
	}
	to {top:0px; left:0px; transform: rotateY(0deg);}
}


.theme_moon {
	position:relative;
	font-size:1.5em;
	margin:2.5px 0px 0px 5px;
	transition:0.3s;
	color:black;
}
.theme_sun {
	position:relative;
	font-size:1.5em;
	margin:2.5px 0px 0px 5px;
	transition:0.3s;
	color:white;
}


/*Theme button ^ ^ ^*/





img {
	/*Prevents the image from being draggable*/
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	/*^ ^ ^*/
}

#vertical_nav_bar {display:none;}


#top_nav_bar {
	height:80px;
	width:100vw;
	top:0;
	position:fixed;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
	z-index:99;
}
.nav_list {
	list-style-type: none;
	transition:0.3s;
	padding: 0px 20px 0px 30px;
}
.mylogo {
	width:40px;
	height:auto;
	display:block;
	top:-5px;
	position:relative;
}
.mylogo:hover {
	animation: spin 0.5s infinite;
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	25%{transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
	75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}

.nav_name {
	font-weight:bold;
	margin-left:16px;
}
.nav_sections { /*On all nav bar content*/
	font-size: 1.5em;
	display: block;
	text-align: center;
	padding: 14px 0px;
	text-decoration: none;
	float:left;
}

.nav_links {
	text-decoration: none;
}
.nav_links:hover {
	color: #3988FF;
	transition:0.3s;
}
.nav_active {
	color:#3988FF;
	transition:0.5s;
}
.nav_right {
	float:right;
	margin-right:30px;
}

/*Hamburger Menu*/
.ham_menu {
	width:auto;
	height:auto;
	border:none;
	background:none;
	cursor:pointer;
	margin: 14px 16px;
	display:none;
	float:right;
	margin-right:2em;
}
.ham_menu:focus {
	outline:none;
}
.lines {
	width:25px;
	height:3px;
	margin:4px;
	top:0px;
}

.line_one_ani {
	transition:0.2s;
	transform:rotate(135deg);
	position: relative;
	top:7px;
	animation: move_then_rotate 0.1s;
}
@keyframes move_then_rotate {
	from {top:0px; transform:rotate(0deg);}
	to {top:7px; transform:rotate(135deg);}
}
.line_two_ani {
	transition:0.2s;
	transform:rotate(45deg);
}
.line_three_ani {
	position: relative;
	transition:0.5s;
	top:-7px;
	animation: move_then_disappear 0.1s;
	opacity:0;
	right:0px;
}
@keyframes move_then_disappear {
	0% {right:0px; opacity:1; top:0px;}
	25% {right:5px;}
	50% {right:-5px;}
	100% {right:0px; opacity:0; top:-7px;}
}
.ham_menu_spin {
	animation: ham_menu_spin 0.2s;
	transform-origin: center;
	transform:rotate(0deg);
}
@keyframes ham_menu_spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
#hammenu_line_one {transition:0.2s;}
#hammenu_line_two {transition:0.2s;}
#hammenu_line_three {transition:0.2s;}
@keyframes move_then_reappear {
	0% {right:0px; opacity:0; top:-7px;}
	25% {right:-5px;}
	50% {right:5px;}
	100% {right:0px; opacity:1; top:0px;}
}
/*Hamburger Menu ^ ^ ^*/



.side_items {
	position:fixed;
	bottom: 0;
	width:100%;
	
}
.side_items_left {
	position:relative;
	float:left;
}
.left_side_logos {
	list-style-type: none;
}
.ssm {
	padding:10px;
	padding-bottom:20px;
}
.side_social_media_logo {
	font-size:20px;
	transition:0.4s;
	top:0px;
}
.side_social_media_logo:hover {
	position:relative;
	transform: translate(0,-5px);
	transition:0.4s;
}

.side_github:hover {color:#9C9C9C;}
.fa-instagram:hover {color: #cd486b;}
.fa-twitter:hover {color: #1DA1F2;}
.fa-linkedin:hover {color: #2867B2;}
.fa-envelope:hover {color: #02a744;}


.side_left_line {
	position:relative;
	height:8em;
	width:2px;
	left:15px;
	margin-bottom:-20px;
}

.side_items_right {
	float:right;
	position:relative;
	top:40px;
}
.right_side_email {
	position:relative;
	writing-mode: vertical-rl; /*Rotates the text*/
	right:30px;
	text-decoration:none;
	transition:0.4s;
	letter-spacing: 0.1em; /*Makes text easier to read*/
}
.right_side_email:hover {
	position:relative;
	transform: translate(0,-5px);
	color: #3988FF;
	transition:0.4s;
}
.side_right_line {
	position:relative;
	height:8em;
	width:2px;
	right:15px;
	margin-bottom:-20px;
}

.website_footer {
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	width:70%;
	z-index:1;
	margin-bottom:10em;
}

.footer_intro_text {
	margin-top:-5px;
	line-height: 1.6;
}

.footer_email { /*Text in the get in touch button*/
	margin-top:30px;
}

.footer_logos_container {display:none;}

.footer_logos { /*ul*/
	text-align: center;
	list-style: inside;
	padding:0;
	height:auto;
}
.footer_logo_lines {
	position:relative;
	width:10vw;
	height:2px;
	display:inline-block;
	bottom:5px;
	
}
.footer_ssm { /*li*/
	display:inline-block;
	padding:10px;
}

.credit {
	text-align:center;
	font-size:1em;
	bottom:0;
	position:relative;
	display:block;
	margin-bottom:2em;
	text-decoration:none;
	transition:0.3s;
}
.credit:hover {
	color: #3988FF;
}
@media only screen and (max-width: 900px) { /*Hide side bars and add a hamburger menu*/
	.nav_right {
		display:none;
	}
	.side_items {display:none;}
	
	/*Hamburger menu*/
	.ham_menu {display:block;}
	#vertical_nav_bar {
		position:fixed;
		display:block;
		height:100vh;
		width:70%;
		display:none;
		z-index:11;
		top:0;
		right:0px;
		transition:0.3s;
		animation: slide_in_ham_nav 0.4s;
		box-shadow: -5px 0 15px -5px #000000;
	}
	@keyframes slide_in_ham_nav { /*vertical_nav_bar will have this*/
		from {right:-500px;}
		to {right:0px;}
	}
	.ham_ul_nav_list {
		list-style-type:none;
		top:200px;
		position:relative;
		padding:0;
	}
	.ham_li_nav_sections {
		font-size: 1.5em;
		display: block;
		text-align: center;
		margin-top: 14px;
		text-decoration: none;
	}
	.ham_nav_active {
		color:#3988FF;
		transition:0.5s;
	}
	#vnb_blur {
		position:fixed;
		top:0;
		z-index:10;
		display:none;
		height:100vh;
		width:100vw;
		background: black;
		opacity:0.6;
		cursor:pointer;
		transition:0.3s;
		/*Makes the blur non selectable*/
		user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
		/*^ ^ ^*/
	}
	/*Hamburger menu ^ ^ ^*/
	.nav_list {
		padding: 0px 0px 0px 2.5em;
	}
	.footer_logos_container {display:block;}
}

@media only screen and (max-width: 500px) {
	.ham_menu {
		margin: 14px 16px;
		margin-right:1.5em;
	}
	.nav_list {
		padding: 0px 0px 0px 1.5em;
	}
}





























