@media only screen and (max-width: 1000px) {
	.profile_picture_container {
		margin-top:14.5em;
	}
	.home_rounded_image { /*Profile Picture*/
		width:11em;
		height: 11em;
	}
	.home_my_name_is {
		font-size:1.3em;
		margin-bottom:-20px;
	}
	.home_name { /*Donald Lee*/
		font-size:3em;
	}
	#blinking_line {
		height:30px;
	}
	.knowledge_column_title {
		font-size:1em;
	}
	.knowledge_list_item {
		font-size:1em;
	}
}

@media only screen and (max-width: 1000px) { /*Experience accordions*/
	.accordion_text_lists {
		 padding: 2px;
	}
	.accordion {
		padding: 5px;
	}
	.accordion_heading {
		margin-left:5px;
	}
	.accordion:after {
		right:5px;
	}
	.accordion_pop_up {
		font-size:13px;
	}
}
@media only screen and (max-width: 500px) { /*Experience accordions*/
	.accordion_content {
		padding:10px;
	}
}

/*Projects section*/
@media only screen and (max-width: 1000px) { /*Makes the project filter mobile responsive*/
	.project_filter {
		width:100%;
		text-align:center;
	}
	.project_filter_item {
		font-size: 1em;
		min-width:100px;
	}
	.project_image_container {
		max-height:160px;
	}
	.projects_image {
		height:auto;
	}
	.project_name {
		font-size:1.2em;
	}
	.about_project {
		font-size:1em;
	}
	.project_learn_more {
		font-size:1em;
	}
}

@media only screen and (max-width: 500px) { /*Makes the projects section mobile responsive*/
	.project_filter_item {
		display:block;
		width:auto; /*Makes filter items take up the entire container*/
	}
	.projects_container {
		grid-template-columns: auto;
	}
	.project {	
		width:100%;
	}
	.project_image_container {
		max-height:150px;
	}
	.projects_image {
		height:auto;
	}
}
@media only screen and (max-width: 400px) { /*Makes the projects section mobile responsive*/
	.project_learn_more {
		width:90px;
	}
	.project_github_logo {
		font-size:1.5em;
		margin-left:5px;
	}
}
/*Projects section ^ ^ ^*/