body {
    background: #F8FBFD;
    font-family: Nunito;
    font-style: normal;
}


.toppage {
    background-color:blue;
    width:70vw;
    height:100%;
    margin: 0 auto;
}

.left {
    width:55%;
    float:left;
    margin-top:10%;
}

.right {
    width:45%;
    float:right;
    margin-top:10%;
}

.slogan {
    font-size: 4em;
    font-weight: bold;
    color: #212353;
}
.description {
    font-size: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #4B5D68;
}

.form_label {
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;
}

.submit_button {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    width: 200px;
    height: 40px;
    border:none;
    cursor: pointer;
    transition: 0.3s;
}

.submit_button:hover {
    background: #212353;
    color: white;
}


input {
    border:none;
    border-radius: 5px;
}

.text_box {
    height: 35px;
    font-size: 1em;
    line-height: 17.5px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}