<!DOCTYPE html>
<html>
    
<head>
    <title>Giftdex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="home.css") }}"
</head>

<body>

<div class="toppage">
    <div class="left">
        <h3 class="slogan">Finding Gifts</br>Made Easy</h3>
        <p class="description">Are you struggling to find the perfect gift?</br></br>We find presents for you so you don’t have to!</p>
    </div>

    <div class="right">

        
        <form action="{{ url_for('form') }}" method="POST">
            <label class="form_labe">Age</label></br><input type="number" class="text_box" min="0" max="120" step="1" name="age" value="" placeholder="20"/>
            </br></br>
            <label>Budget</label></br><label>$ </label><input type="number" class="text_box" min="5" step="1" name="budget" value="" placeholder="10"/>
            
            
            <p>Gender</p>
    
            <select class="text_box" name="gender" id="gender" required>
                <option value="">Select your gender</option>
                <option name="gender" value="1">Male</option>
                <option name="gender" value="0">Female</option>
                <option name="gender" value="3">Other</option>
                <option name="gender" value="4">Prefer not to say</option>
            </select>

            </br></br></br>

            <label>What is something they like? (Eg. anime, headphones, flowers)</label></br><input type="text" class="text_box" name="interests" value="" placeholder="anime, headphones"/>
            
            </br></br>
            <input type="submit" class="submit_button" name="submit" value="Find Gifts for me!" />
        
        </form>
    </div>
</div>


<div class="product_container">
    {% if products %}
        {% for product in products %}
            <div class="product">
                <p>{{ product['name'] }}</p>
                <a href="{{ product['url'] }}">View Site</a>
                <p>{{ product['price'] }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>

</body>

</html>